.page-wrap {
	max-width: 960px;
	margin: 0 auto;
}

.error p{
	padding: 1em;
	color: #da2525;
	border: 1px solid #da2525;
	background-color: rgba(255,0,0,0.2);
}

.signout {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #eee;
	margin-bottom: 1em;
}

input, textarea {
	box-sizing: border-box;
}

.frame, textarea {
	width: 100%;
}
